/* Untuk Tablets */

/* Tambahkan breakpoint max-width: 1000px */
@media (max-width:1000px) {
  /* Tambahkan CSS untuk lesson */
  h1 {
    color : #6940ee;
    margin-bottom : 50px;
  }
}

@media (max-width: 670px) {
    footer {
        text-align: center;
        width: 90%;
        font-size: 20px;
        float: right;
        margin-left: 25px;
      }
}

