header {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position :fixed;
  top: 0;
  z-index: 10;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

footer{
    background-color:#48dbfb;
    color:#07291B;
    height:10px;
    padding-top:28px;
    padding-bottom: 74px;
    width: 100%;
    position: relative;
}

.footer-logo{
    font-family:Fantasy;
    font-size:30px;
    float:left;
}
  
.footer-list {
    font-size:12px;
    text-decoration:column;
    color:black;
    float: right;
    margin-right: 30px;
}
  
footer p{
    color:#b3aeb5;
    font-size: 16px;
    display:flex;
    padding: 10px 20px;
}
  
li {
    list-style: none;
}

.footer-list :hover{
    color: #3B3551;
}
